<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;" *ngFor="let item of myProduct">
            <div *ngIf=item.isAvailable>
                <img [src]="item.image" class="card-img-top" alt="{{item.imageAlt}}">
                <div class="card-body">
                    <h5 class="card-title">{{item.name| uppercase }}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <h6>Price:${{item.price}}</h6>
                    <button class="btn btn-primary" [disabled]="item.isAvailable">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>